
.board-form-container {
  background-color: lightgrey;
  padding: 2em;
  box-shadow: 0 8px 6px -6px black;
}

.board-form {   // from views:BoardForm.js
  width: 25em;
  margin: 1em;  
  border-radius: 2em;
}
