@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

#root {
  color: black;
}

// PINS
.pin-card {
  width: 18em;
  margin: 1em;
}

// BOARDS 
.board-card {
  width: 20em;
  margin: 1em;  
  border-radius: 1em;
}

.board-form {
  width: 20em;
  margin: 1em;  
  border-radius: 1em;
}

// NAV
.logo {
  width: 2em;
}
