@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import 'pins';
@import 'boards';
@import 'forms';
@import 'navbar';

#root {
  color: black;
}
body {
  height: 100vh;
  background-color: $favColor !important;
}

.board-form-container, .pin-form-container {
  margin: auto;
  width: 50%;
}

// CARDS
.pin-card {
  width: 18em;
  margin: 1em;
}

.board-card {
  width: 18em;
  margin: 1em;  
  border-radius: 1em;
}

// BOARDS 
.board-card {
  width: 20em;
  margin: 1em;  
  border-radius: 1em;
}

.signOut-btn {
  width: 5.5em;
}

.sign-in-btn {
  width: 5.5em;
}
