@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

#root {
  color: green;
  background-color: black;
}
body {
  height: 100vh;
  background-color: $favColor !important;
}

.board-form-container {
  margin: auto;
  width: 50%;
}

// NAV

.logo {
  width: 2em;
}
